<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kuznetsov-Artyom">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Тест</title>
</head>

<body>
    <header>
        <h1>Тест</h1>
    </header>
    <main>
        <form action="/submit-test" method="POST">
            <% for (var i = 0; i < countRows; ++i){ %>
                <h1>Вопрос <%=(i + 1) %></h1>
                <% var question = rows[i]; %>

                <% var descriptionQuestion = question.question; %>

                <% var answers = question.answers; %>
                <% var countAnswers = answers.length; %>

                <p> <%=descriptionQuestion %></p>

                <% for (var j = 0; j < countAnswers; ++j) { %>
                    <% var answer = answers[j]; %>
                    <% var descriptionAns = answer.answer; %>
                    <% var correctAns = answer.correct; %>

                    <label><input type="radio" name="q<%=(i + 1)%>" value="a<%=(j + 1)%>"><%=descriptionAns %></label><br>

                <% } %>
            <% } %>

            <input type="submit" value="Завершить ответ">
        </form>
    </main>
</body>

</html>